body {
    color: white;
    background-color: gray;
}

.card {
    margin: 0 auto;
    background: #000;
    margin-bottom: 16px;
    padding: 16px;
    max-width: 500px;
}

.card h3 {
    font-size: 16px;
    margin-bottom: 8px;
    color: gray;
    text-transform: uppercase;
}

.card p {
    font-size: 14px;
    margin-bottom: 8px;
}

.user-info span:nth-child(1) {
    font-size: 18px;
    font-weight: bold;
}

.user-info span:nth-child(2) {
    font-size: 12px;
    margin-left: 15px;
    color: grey;
}

.card .delete-btn {
    cursor: pointer;
    color: red;
    font-size: 14px;
    float: right;
}

.card .edit-btn {
    cursor: pointer;
    color: yellowgreen;
    margin-left: 50px;
}

#add-post {
    display: flex;
    justify-content: center;
    margin: 10px auto;
}

.loader {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}